@import 'tailwindcss';

@theme inline {
  --color-title-red: #f2542d;
  --color-title-black: #562c2c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  animation: ripple-animation 1s linear;
  transform: scale(0);
  pointer-events: none;
}
@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.bg-block {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%),
    #eafcff;
}

.bg-footer {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 66.5%,
      rgba(0, 0, 0, 0.2) 95%
    ),
    url('/bg-footer.png') lightgray no-repeat;
}

@media (width < 40rem) {
  .bg-footer {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 66.5%,
        rgba(0, 0, 0, 0.2) 95%
      ),
      url('/bg-footer-2.png') lightgray no-repeat;
      background-position: center;
      background-size: cover;
  }
}
